
#novo{
 
 width: 70px;
 height: 24px;
 font-family: 'Varela Round', sans-serif;
 border-radius: 9px;
 border-color: aliceblue;
 color:aliceblue ;
margin-bottom: 8px;

 background: url(./img/Fundo\ Do\ Céu\ Preto\ H5.jpeg)no-repeat;
}
#oie{
    color: aliceblue;
    text-align: center;
}
#novo:hover{
background: url(./img/Dark\ Clouds\ Wallpapers\ For\ iPhone\ _\ Black\ Wallpapers\ For\ iPhone\ _\ iPhone\ Wallpapers\ _\ iGeeksBlog.jpeg)no-repeat;
}
body{
    background-color: black;
    background-image: linear-gradient( to right, black , transparent, purple ); 
}
.container{
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
 
  
}

.container>img{
    height:400px;
    margin-left: 230px;
    margin-top: 10px;
    border-radius: 9px;
}
input:hover{
background: url(./img/Fundo\ Do\ Céu\ Preto\ H5.jpeg)no-repeat;
color: aliceblue;

}
input{
    border-radius: 3px;
    background: url(./img/Dark\ Clouds\ Wallpapers\ For\ iPhone\ _\ Black\ Wallpapers\ For\ iPhone\ _\ iPhone\ Wallpapers\ _\ iGeeksBlog.jpeg);
    color: aliceblue;
    margin-left: 438px;
    margin-right: 20px;
    width: 100px;
  height: 20px;
  
}